{erl_opts, [
    debug_info,
    warnings_as_errors
]}.
{extra_src_dirs, ["bench"]}.
{deps, []}.

{project_plugins, [erlfmt, rebar3_proper]}.
{erlfmt, [
    write,
    {files, ["{src,include,test,bench}/*.{hrl,erl,app.src}", "rebar.config"]}
]}.

{plugins, [
    {mort, {git, "https://github.com/moiseev/mort.git", {branch, "main"}}}
]}.

{profiles, [
    {test, [
        {deps, [
            {proper, "1.4.0"},
            {rebar3_proper, "0.12.1"}
        ]}
    ]}
]}.
